configuration {
    display-drun: " apps";
    drun-display-format: "{name}";
    modi: "drun,";
    font: "FiraCode Nerd Font 12";
}

@theme "~/dotfiles/config/rofi/colorshemes/gruvbox-material.rasi"
