@define-color background0 #141b1e;
@define-color background1 #232a2d;
@define-color background2 #2d3437;
@define-color red #e57474;
@define-color green #8ccf7e;
@define-color yellow #e5c76b;
@define-color blue #67b0e8;
@define-color magenta #c47fd5;
@define-color cyan #6cbfbf;
@define-color white0 #dadada;
@define-color white1 #b3b9b8;
@define-color white2 #8e979a;

* {
    /* important to reset all setings set by gtk theme */
    all: initial;
    font-family: Monocraft;
    font-size: 16px;
    color: @white0;
}

window#waybar {
    color: @white0;
    background-color: @background0;
    transition-property: background-color;
    transition-duration: .5s;
}

/* not working should make bar transparent when workspace is empty https://www.reddit.com/r/unixporn/comments/1c3ptie/hyprland_bar_is_the_only_thing_i_like_about_this/ */

window#waybar.empty,
window#waybar.floating {
    background-color: transparent;
}

tooltip {
    background: @background0;
    border-color: @green;
    border-width: 0px;
    border-radius: 2px;
    border-style: solid;
}
tooltip label {
    color: @white0;
}

.module {
    padding: 0 8px;
}


#workspaces {
    background-color: transparent;
    color: @blue; /*somehow does not work but why*/
}
#workspaces button {
    padding: 0 8px;
    border-radius: 2px;
    background-color: @background0;
}
#workspaces button.empty {
}
#workspaces button.visible {
    background-color: @background1;
}
#workspaces button.urgent {
    background-color: @red;
}
#workspaces button.active {
    background-color: @blue;
}
#workspaces button:hover {
    background-color: @white2;
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-separator {
    color: @green;
}

#backlight-slider {
}
#backlight-slider slider {
}
#backlight-slider trough {
    background-color: @background2;
    min-height: 10px;
    min-width: 100px;
    border-radius: 2px;
}
#backlight-slider highlight {
    background-color: @green;
    border-radius: 2px;
}

#pulseaudio-slider {
}
#pulseaudio-slider slider {
}
#pulseaudio-slider trough {
    background-color: @background2;
    min-height: 10px;
    min-width: 100px;
    border-radius: 2px;
}
#pulseaudio-slider highlight {
    background-color: @green;
    border-radius: 2px;
}

#custom-swaync {
    background-color: @background2;
    border-radius: 16px;
    padding-right: 12px;
}

#tray {
    background-color: @background2;
    border-radius: 16px;
}
#tray menu {
    background-color: @background0;
    border-radius: 2px;
    border-style: solid;
    border-color: @green;
    border-width: 2px;
    padding: 8px;
}
#tray > .passive {
}
#tray > .active {
}
#tray > .needs-attention {
}
